# Laravel / PHP
/vendor
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Node / Frontend
/node_modules
/public/build
/public/hot
/public/storage

# Env / secrets
.env
.env.*
/certbot/letsencrypt/

# IDE / tooling
/.idea
/.vscode
/.fleet
/.zed
.phpunit.result.cache
.phpunit.cache
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log