@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidenav-width: 250px;
    --mobilenav-height: 50px;
}

body {
    @apply scrollbar overflow-x-hidden;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 4px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: rgba(113, 113, 146, 0.35);
        border-radius: 3px;
    }
}
