@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidenav-width: 250px;
    --mobilenav-height: 50px;
}

body {
    @apply scrollbar overflow-x-hidden;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 4px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: rgba(113, 113, 146, 0.35);
        border-radius: 3px;
    }
}

@layer base {
    .ui-text-input:-webkit-autofill,
    .ui-text-input:-webkit-autofill:hover,
    .ui-text-input:-webkit-autofill:focus,
    .ui-text-input:-webkit-autofill:active,
    .ui-text-input:-internal-autofill-selected {
        -webkit-box-shadow: 0 0 0 1000px theme("colors.input") inset !important;
        box-shadow: 0 0 0 1000px theme("colors.input") inset !important;

        -webkit-text-fill-color: #e5e7eb !important;
        caret-color: #e5e7eb !important;

        background-color: transparent !important;
        transition:
            background-color 9999s ease-out,
            color 9999s ease-out;
    }
}
